<a href="https://colab.research.google.com/github/w2j1y12/py11/blob/master/notebook/ch3_exercises_py11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises_py11.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife") # a에 wife가 없기 때문에 x
elif "python" in a and "you" not in a: print("python") 
# python은 a에 포함, python에 a는 미포함
elif "shirt" not in a: print("shirt") # shirt는 a에 포함되지 않기 때문에 o
elif "need" in a: print("need") # 이미 위의 elif가 실행됐기 때문에 출력 x
else: print("none") # 위의 문장이 다 틀리면 결과로 none 출력

```

In [0]:
# [Q1] Code  
shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [27]:
# [Q2] Code
a = 0
add = 0
while a <1000:
  a = a+1
  if a%3 == 0: # 3으로 나눴을 때 나머지가 0인 수 = 3의 배수
    add =add + a
  else : continue  # 3의 배수가 아니면 다음으로 넘어감.
print("1부터 1000까지 3의 배수의 합은 %d입니다." %add)

1부터 1000까지 3의 배수의 합은 166833입니다.

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [4]:
# [Q3] Code
i = 0
while i < 5 :
  i += 1 # i가 1씩 증가
  print("*" * i)

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [0]:
# [Q4] Code
# 단순 for문 사용
for i in range(1,101) : # 101이 아닌 100까지만 출력
  print(i)

In [19]:
# [Q4] Code
# 리스트 내포 사용
number = [i for i in range(1,101)]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [10]:
# [Q5] Code
a = [70, 60, 55, 75, 95 , 90, 80, 80, 85, 100]
sum = 0
for i in a:
  sum += i # 점수를 모두 더함.
average = sum / len(a) # 더한 점수를 개수를 개수에 나눈 것이 평균 점수
print("학급 A의 평균 점수는 %lf입니다."%average)

학급 A의 평균 점수는 79.000000입니다.

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [20]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [14]:
# [Q7] Code-1
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum = 0

for i in range(0,4) :
  subjects[i] = scores[i]
  sum += subjects[i]
average = sum / len(subjects)
print("평균 성적은 %f입니다." %average)

평균 성적은 80.250000입니다.

In [30]:
# [Q7] Code-2
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum = 0

for subject, score in zip(subjects, scores):
    sum += score
average = sum / len(subjects)

print("평균 성적은 %f입니다." %average)

평균 성적은 80.250000입니다.

In [32]:
# [Q7] Code-3
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum=0

for i, score in enumerate(scores):
   sum+=scores[i] 
average = sum / len(subjects)
   
print("평균 성적는 %f입니다."%average)

평균 성적는 80.250000입니다.

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb