<a href="https://colab.research.google.com/github/w2j1y12/py11/blob/master/notebook/ch5_exercises_py11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises_py11.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [0]:
# [Q1] Code 1

class Calculator:
  def __init__(self):
    self.value = 0 

  def add(self, val):
    self.value += val 

class UpgradeCalculator(Calculator): # Calculator 상속하는 클래스임.
  def minus(self, val):
    self.value -= val

cal = UpgradeCalculator()
cal.add(10) # 0 + 10
cal.minus(7) # 10 - 3
print(cal.value) # 10에서 7을 뺀 3을 출력

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [0]:
# [Q2] Code

class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
  def add(self, val):
    self.value += val
    
    if self.value > 100: # 만약 100 이상이면 
      self.value = 100 # 100 출력
      print("100이상의 값은 가질 수 없습니다.")

cal = MaxLimitCalculator() # MaxLimitCalculator을 변수 cal에 호출
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100이상의 값은 가질 수 없습니다.
100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [0]:
# abs()는 수를 입력받았을 때, 그 수의 절대값을 돌려줌.
# all()은 모두 참이면 True, 거짓이 하나라도 있으면 False 돌려줌.

# abs(-3)-3은 3-3이므로 0임.

# 따라서, 리스트의 요소값에 0이 생겼으므로 False 출력

all([1, 2, abs(-3)-3])

False

In [0]:
# chr(x)는 x에 맞는 아스키코드를 돌려줌.
# ord(x)는 chr과 반대로 아스키코드에 맞는 번호를 돌려줌.

# ord('a')를 사용하여 97 돌려받음.
# 돌려받아 chr(97)은 a를 돌려줌.

# 따라서, chr(ord('a')) == 'a'는 True

chr(ord('a')) == 'a'

True

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [0]:
# [Q4] Code 1 - filter 사용하지 않은 함수

def positive(l):
  result =[]#반환값이 참인 것만 걸러내서 저장할 변수
  for i in l:
    if i>0:
      result.append(i)
  return result

print(positive([1,-2,-3,-5, 8, -3]))

[1, 8]

In [0]:
# [Q4] Code 2 - filter만 사용

def positive(x):
    return x > 0

list(filter(positive, [1,-2,-3,-5, 8, -3]))

[1, 8]

In [0]:
# [Q4] Code 3 - filter와 lambda 둘 다 사용

list(filter(lambda x:x>0,[1,-2,-3,-5, 8, -3]))

[1, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [0]:
# [Q5] Code

int('0xea',16)
# 16진수를 10진수로 바꾸어 돌려주는 int 내장함수

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [0]:
# [Q6] Code 1 - map과 lambda 둘 다 사용

list(map(lambda x:x*3,[1,2,3,4]))

In [0]:
# [Q6] Code 2 - for문 사용

a=[1,2,3,4]

result =[]
for n in a:
    result.append(n*3)
print(result)

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
# [Q7] Code

# 최댓값을 돌려주는 함수 max와 최솟값을 돌려주는 함수 min 사용

a = max([-8, 2, 7, 5, -3, 5, 0, 1])
b = min([-8, 2, 7, 5, -3, 5, 0, 1])

print(a + b)

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
# [Q8] Code 1 - round함수 사용

# round(number[, ndigits]) 함수는 숫자를 입력받아 반올림해 주는 함수
round(17 / 3,4)

5.6667

In [0]:
# [Q8] Code 2 - 출력할 때 변환

a=17/3
print("%.4f" %a)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9] Code

import sys 

numbers = sys.argv[1:] # 파일 이름을 제외한 명령 행의 모든 입력

result = 0
for number in numbers:
    result += int(number)  # 값을 int형으로 바꿈 -> 더하기
print(result)

![image.png]()

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [0]:
# [Q10] Code

os.chdir("C:/temp") # ./doit 디렉터리로 이동한다.


result = os.popen("dir") # dir 명령을 실행하고 그 결과를 변수에 담는다.

print(result.read()) # dir 명령의 결과를 출력한다.

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [0]:
# [Q11] Code

import glob
glob.glob("c:/doit/*.py")

![image.png]()

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [0]:
# [Q12] Code

import time
time.strftime("%Y/%m/%d %H:%M:%S") # 년/달/날/시간/분/초 순서로 출력

'2020/06/09 10:03:31'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [16]:
# [Q13] Code - 1

import random

result = []
while len(result) < 6: # 6개 생성
    numbers = random.randint(1, 45)   # 1부터 45까지의 난수 발생
    if number not in result: # 중복된 숫자가 나오지 않게 함
        result.append(numbers)

print(result)

[23, 28, 41, 24, 34, 3]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb