<a href="https://colab.research.google.com/github/w2j1y12/py11/blob/master/notebook/ch8_exercises_py11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_py11.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 split와 join 이용

before1 = "a:b:c:d"

before2 = before.split(":") # split로 : 지우기

after = '#'.join(before2) # join으로 # 넣어주기
print(after)

a#b#c#d

In [ ]:
# [Q1] Code-2 replace 이용

before = "a:b:c:d"

after = before.replace(":","#")
print(after)

a#b#c#d

In [ ]:
# [Q1] Code-3 maretrans 이용

before = "a:b:c:d"

after = before.maketrans(":", "#")

print (before.translate(after))

a#b#c#d

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [7]:
# [Q2] Code-1

a = {'A':90, 'B':80}
a.get('C', 70)

# 딕셔너리.get(key, [defalt값])

70

In [15]:
# [Q2] Code-2

try : # try문에 실행할 코드 입력
  a = {'A':90, 'B':80}
  a['C'] 
except : # except문에 예외 발생시 처리할 코드 입력
  print(70)

70

In [8]:
# [Q2] Code-3

a = {'A':90, 'B':80}
a.setdefault('C', 70)

# 딕셔너리.setdefault(key, [default 값])

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

- '+' 기호를 사용하면 메모리 주소가 더하기 전과 더하기 후가 달라짐.
- 'expend'를 사용한 메모리 주소는 더하기 전과 더하기 후가 같음.

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)

a = [1, 2, 3]
print(id(a)) # 아무 리스트도 추가하지 않은 가장 초기 a의 메모리 주소 : 140073838779400

a = a + [4,5] # + 기호를 사용하여 더한 것
print(a)
print(id(a)) # + 기호를 사용하여 더한 a의 메모리 주소 : 140073838383432

140073838779400
[1, 2, 3, 4, 5]
140073838383432

In [ ]:
a = [1, 2, 3]
print(id(a)) # 아무 리스트도 추가하지 않은 가장 초기 a의 메모리 주소 : 140073838779400

a.extend([4, 5]) # extend를 사용하여 더한 것
print(a)
print(id(a)) # extend를 사용하여 더한 a의 메모리 주소 : 140073838779400

140073838779400
[1, 2, 3, 4, 5]
140073838779400

##### + append와 expend차이

a = [1, 2, 3]

a.extend([4, 5]) -> [1, 2, 3, 4, 5]

a.append([4, 5]) -> [1, 2, 3,[4, 5]]

extend는 object의 요소들을 추가하지만 append는 object 통째로 추가함

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1

A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

sum = 0
for i in range(len(A)) :
  if A[i] >= 50 :
    sum = sum + A[i]

print("50점 이상 점수의 총합은", sum ) # 출력할 때 ',' 사용하면 공백 생김/ '+' 사용하면 공백 안 생김

50점 이상 점수의 총합은 481
50점 이상 점수의 총합은 481
50점 이상 점수의 총합은 481

In [ ]:
# [Q4] Code-2 filter 함수 사용

def positive(x) :
  return x >= 50  # 50점 이상인 것만 return

b = list(filter(positive, [20, 55, 67, 82, 45, 33, 90, 87, 100, 25])) 
print(b)
# 위의 함수를 사용해서 50점 이상인 것들을 변수 b에 넣음

sum = 0

for i in range(len(b)) : # b에 있는 것들은 모두 50점 이상이므로 모두 더함
  sum = sum + b[i]

print('50점 이상 점수의 총합은 {0}'.format(sum))

[55, 67, 82, 90, 87, 100]
50점 이상 점수의 총합은 481

In [ ]:
# [Q4] Code-3 lambda 사용

a = list(filter(lambda x : x >= 50, [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]))
print(a)
# lambda를 이용하여 조금 더 짧은 코드로 50점 이상인 것을을 골라 변수 a에 넣음
sum =0 

for i in range(len(a)) : 
  sum = sum + b[i]

print('50점 이상 점수의 총합은 %d' %sum)

[55, 67, 82, 90, 87, 100]
50점 이상 점수의 총합은 481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1

def fib(n) :
  if n == 0 : return 0 # 첫 번째 항은 0
  if n == 1 : return 1 # 두 번째 항은 1
  return fib(n-2) + fib(n-1) # 나머지 항은 이전의 두 항을 더한 값

for i in range(10): # 0에서 9번째 항까지
  print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
# [Q5] Code-2 input으로 직접 입력 받아 출력

def fib(n):
    if n <= 1: # n이 1이하면 (0, 1) 
        return n # n 값 return
    else:
        return fib(n-2) + fib(n-1) # 나머지는 이전의 두 항을 더한 값 retrun

a = int(input('n = '))

for i in range(a): 
  print(fib(i))

n = 10
0
1
1
2
3
5
8
13
21
34

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1

a, b, c, d, e, f = input().split(',')

# 입력받은 값을 정수로 바꿔야함.
# 각각의 변수들을 정수로 변환시킴.
a = int(a)
b = int(b)
c = int(c)
d = int(d)
e = int(e)
f = int(f)

print(a + b + c + d + e + f) # 입력받은 정수들을 모두 더해줌.

65,45,2,3,45,8
168

In [ ]:
# [Q6] Code-2

a, b, c, d, e, f = map(int, input().split(','))
# map 함수를 이용하여 입력받은 값을 정수로 바꿔야함.
# split(',')를 이용하여 입력받은 값을 ','로 구분함.

print(a + b + c + d + e + f)

65,45,2,3,45,8
168

In [ ]:
# [Q6] Code-3

User_input = input() # 변수 User_input에 입력값 받음.
numbers = User_input.split(",") # User_input에 받은 입력값을 split(',')을 이용해 구분한 후 변수 numbers에 넣음.

total = 0

for n in numbers :
  total += int(n) # numbers 안에 있는 n을 정수로 바꾼 후 total에 더해줌.

print(total)

65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1 for문 이용

n = int(input("구구단을 출력할 숫자를 입력하세요.(2~9) : "))

for i in range(1, 10) :
    print((n * i), end = ' ') # 한 줄로 출력하기 위해서 end = ' ' 사용

구구단을 출력할 숫자를 입력하세요.(2~9) : 2
2 4 6 8 10 12 14 16 18

In [ ]:
# [Q7] Code-2 while문 이용

n = int(input("구구단을 출력할 숫자를 입력하세요.(2~9) : "))
i = 1

while i < 10 :
  print((n * i), end = ' ' ) 
  i = i + 1

구구단을 출력할 숫자를 입력하세요.(2~9) : 2
2 4 6 8 10 12 14 16 18

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [81]:
# [Q8] Code-1

f = open('abc.txt', 'r') # 읽기 모드로 'abc.txt'염.
lines = f.readlines() # 모든 라인을 읽어 들임.
f.close()

lines.reverse() # 읽은 모든 라인을 역순으로 바꿈.

f = open('abc.txt', 'w')
for line in lines :
  line = line.strip() # 기존에 있던 '\n' 문자 없애기
  f.write(line)
  f.write('\n') 
f.close()

In [82]:
f = open("abc.txt", "r")

while True : # 무한반복
  line = f.readline()
  if not line : # 더이상 라인이 없으면 브레이크
    break
  print(line)

f.close()

EEE

DDD

CCC

BBB

AAA

In [86]:
# [Q8] Code-2 with as 사용

with open("abc2.txt", "r") as file1:
  lines1 = file1.readlines()

lines1.reverse()

with open("abc2.txt", "w") as file2:
  for line in lines1:
    line = line.strip()
    file2.write(line)
    file2.write("\n")

with open("abc2.txt", "r") as file3:
  lines2 = file3.read()
  print(lines2)

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [17]:
# [Q9] Code-1

f = open("sample.txt")
lines = f.readlines() # sample.txt파일 안의 라인을 모두 읽음
f.close()

total = 0
for line in lines :
  score = int(line) # 숫자들을 정수형으로 바꿔줌
  total += score 
average = total / len(lines)

f = open("result.txt", "w") # 쓰기 모드를 이용해 원래 있는 파일이면 그대로, 없는 파일이라면 새로 생성됨
f.write(str(average))
f.close()

In [80]:
# result.txt 파일이 생기고 안의 average 값 확인

f = open("result.txt", "r")

while True : # 무한반복
  line = f.readline()
  if not line : # 더이상 라인이 없으면 브레이크
    break
  print(line)

f.close()

79.0

In [84]:
# [Q9] Code-2 with as 사용

with open("sample2.txt", "r") as file1 :
  lines = file1.readlines()

sum = 0
for line in lines :
  sum += int(line)
average = sum /len(lines)

with open("result2.txt", "w") as file2 :
  file2.write(str(average))

with open("result2.txt", "r") as file3 :
  lines2 = file3.read()
  print(lines2)

79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [ ]:
# [Q10] Code-1

class Calculator:
    def __init__(self, numbers):
        self.numbers = numbers

    def sum(self): # 합계 구하는 함수
        total = 0
        for number in self.numbers:
            total += number
        return total

    def avg(self): # 평균 구하는 함수
        average = self.sum( )/ len(self.numbers)
        return average


cal1 = Calculator([1,2,3,4,5])

print(cal1.sum())
print(cal1.avg())

cal2 = Calculator([6,7,8,9,10])

print(cal2.sum())
print(cal2.avg())

15
3.0
40
8.0

In [88]:
# [Q10] Code-2

class Calculator:
    def __init__(self,value):
        self.value = value
 
    def add(self):
        result = 0
        for num in self.value: 
            result += num
        return result

class UpgradeCalculator(Calculator): #Calculator를 상속받음
    def avg(self):
        total = self.add()
        return total / len(self.value)

cal1 = UpgradeCalculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2=UpgradeCalculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [94]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

mkdir: cannot create directory ‘doit’: File exists

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [96]:
# [Q11] Code-1

import sys
sys.path.append("c:/doit")
import mymod

# sys.path에 디렉터리 c:/doit 추가 -> c:/doit 안의 mymod 모듈 사용가능

In [98]:
# [Q11] Code-2

from doit import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [31]:
# [Q12] Explain (코드와 주석으로 설명하시오)

result = 0 # result의 초깃값은 0으로 시작
 
try: # try문에 있는 문장 수행
    [1, 2, 3][3] # 가장 위에 있는  [1, 2, 3][3]에서 IndexError발생
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError: # 이 구문으로 이동 
    result += 3 # result 값은 3이됨
finally: # 마지막 finally 구문으로 이동
    result += 4 # 따라서 result 값은 7이 됨
 
print(result)

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [32]:
# [Q13] Code-1

data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1: # 다음에도 숫자가 온다면              
        first = num % 2 == 1  # 첫 번째 홀수             
        second = numbers[i+1] % 2 == 1  # 그 다음 두 번째도 홀수
        if first and second: # 연속으로 홀수가 올 때,          
            result.append("-")
        elif not first and not second: # 연속으로 짝수가 올 때,
            result.append("*")

print("".join(result))

454*67-9-3

In [33]:
# [Q13] Code-2 직접 입력 받기

data = input() # 직접 입력받기
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1: # 다음에도 숫자가 온다면              
        first = num % 2 == 1  # 첫 번째 홀수             
        second = numbers[i+1] % 2 == 1  # 그 다음 두 번째도 홀수
        if first and second: # 연속으로 홀수가 올 때,          
            result.append("-")
        elif not first and not second: # 연속으로 짝수가 올 때,
            result.append("*")

print("".join(result))

4546793
454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [41]:
# [Q14] Code-1

s = 'aaabbcccccca'

result = s[0]
count = 0 # 연속되는 문자열의 개수를 세는 변수

for next in s :
  if next == result[-1] : # 지금의 문자와 이 전의 문자가 같을 경우
    count +=1 # 카운트 +1
  else : # 지금의 문자와 이 전의 문자가 다를 경우
    result += str(count) + next # result에 그 문자와 count
    count = 1 # 카운트는 다시 1로 초기화됨.

result += str(count) # 마지막 a의 개수까지 포함

print(result)

a3b2c6a1

In [42]:
# [Q14] Code-2 직접 입력받음

s = input()

result = s[0]
count = 0 # 연속되는 문자열의 개수를 세는 변수

for next in s :
  if next == result[-1] : # 지금의 문자와 이 전의 문자가 같을 경우
    count +=1 # 카운트 +1
  else : # 지금의 문자와 이 전의 문자가 다를 경우
    result += str(count) + next # result에 그 문자와 count
    count = 1 # 카운트는 다시 1로 초기화됨.

result += str(count) # 마지막 a의 개수까지 포함

print(result)

aaabbcccccca
a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [76]:
# [Q15] Code-1

def CheckNumber1(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(CheckNumber1("0123456789"))      
print(CheckNumber1("01234"))          
print(CheckNumber1("01234567890"))     
print(CheckNumber1("6789012345"))      
print(CheckNumber1("012322456789"))

True
False
False
True
False

In [77]:
# [Q15] Code-2

def CheckNumber2(num):
    for i in range(10):
        if num.count(str(i)) != 1:
            print("False")
            return # return에 값이 없어서 중간에 None값이 출력

    print("True")

print(CheckNumber2('0123456789'))
print(CheckNumber2('01234'))
print(CheckNumber2('01234567890'))
print(CheckNumber2('6789012345'))
print(CheckNumber2('012322456789'))

True
None
False
None
False
None
True
None
False
None

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [78]:
# [Q16] Code-1

dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
} # 모스부호 규착을 딕셔너리로

def morse(src):
    result = []
    for word in src.split("  "): # 단어와 단어 사이는 공백 2개로 구분한다.
        for char in word.split(" "): # 글자와 글자 사이는 공백 1개
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [79]:
# [Q16] Code-2 순서대로 알파벳 부여

mos='.- -... -.-. -.. . ..-. --. .... .. .--- -.- .-.. -- -. --- .--. --.- .-. ... - ..- ...- .-- -..- -.-- --..'.split(' ')
mos_in='.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'.split(' ')
result=[]

for i in range (len(mos_in)):
    j=0
    while (j<26):
        if mos_in[i]==mos[j]:
            result.append(chr(j+65))
            break
        elif mos_in[i]=='':
            result.append(' ')
            break
        j+=1

print (''.join(result))

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb