<a href="https://colab.research.google.com/github/w2j1y12/py11/blob/master/notebook/mid_exam_py11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 활용 중간고사 풀이

### 문제1. 다음 식의 연산 결과는?

In [1]:
a = 5
b = 3
a ** b
# + 더하기, - 빼기, * 곱하기, / 나누기, %나머지, ** 제곱이므로 
# a ** b = 5^3 = 125

125

### 문제 2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
### a = "Life is too short, You need Python!"
### a[-16:-8]

In [2]:
a = "Life is too short, You need Python!"
a[-16:-8]
# L은 1번째가 아닌 0번째임
# '-'가 붙어 뒤에서 부터 숫자 셈
# 뛰어쓰기를 포함해서 셈
# 따라서 [-16:-8]이므로 'You need'출력

'You need'

### 문제3. 다음 list a의 인덱싱 결과는?

In [11]:
a = [1, 2, (3, 4),['a','b', ['My', 'Life','Good']]]
a[3][-1][0]
# 왼쪽부터 순서대로 풀이
# a[3] 이므로 ['a', 'b' ['My', 'Life','Good']]
# a[3][-1] 이므로 ['My', 'Life','Good']
# a[3][-][0]이므로 'My' 출력

'My'

### 문제4. 다음 tuple t1의 슬라이싱 결과는?

In [14]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2]
# 문제2와 마찬가지로 순서대로 숫자를 센다면 's'
# tuple이므로 ()안에 들어가고 뒤에 ,(쉼표)도 같이 출력
# 틀린 문제

('s',)

### 문제5. 다음 bool 값 출력 중 정확한 것은?

In [15]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))
# bool([0, 1, 2]) : 요소 o -> True
# bool([0]) : 요소 o -> True
# bool((0)) : 값이 0으로 요소 x ->에 False
# bool((0,)) : 0 뒤 쉼표가 있기 때문에 요소로 인정 -> True

(True, True, False, True)

### 문제6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score >= 60 :
  message = "success"
else :
  message = "failure"

In [0]:
score = 80
massage = "success" if score >= else "failure"

### 문제7. 다음 코드의 실행 결과는?

In [16]:
games = ["A", "B", "C"]

for cnt in range(len(games)): # len(games) : games 안에 있는 요소들에 숫자를 매김
  print(cnt, games[cnt], end = ',') # end = ',' : 요소 뒤 ,(쉼표) 달아주기

0 A,1 B,2 C,

### 문제8. 다음의 결과가 출력되지 않는 것은?
### 'I ate 10 apples. so I was sick for three days.'

In [45]:
number = 10
day = "three"

red = "I ate {0} apples. so I was sick for {1} days.".format(10, day)
# '숫자로 바로 대입하기'와 '숫자 값을 가진 변수로 대입하기' -> 출력 o

blue = f"I ate {number} apples. so I was sick for {day} days."
# '숫자 값을 가진 변수로 대입하기' -> 출력 o

yellow = f"I ate {number} apples. so I was sick for {'three'} days."
# '숫자 값을 가진 변수로 대입하기' 와 '문자열 바로 대입하기' -> 출력 o

# green = "I ate {0} apples. so I was sick for {1} days.".format(number = 10,day)
# {name} 형태를 사용할 경우 format 함수에는 반드시 같은 형태의 입력값이 있어야 함
#  따라서 green -> 출력 x

print(red)
print(blue)
print(yellow)

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.

### 문제9. 리스트 내포를 상요해 1부처 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [33]:
sum([num for num in range(1,1001) if num % 5 == 0])
# range(1,1001) : 1 부터 1000까지 해당 
# num % 5 == 0 : 5로 나눈 나머지가 0이면 5의 배수

100500

### 문제10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?
##### subjects = ['python', 'english', 'math', 'science']
##### scores = [ 88, 77, 66, 95]
##### total = 0
##### for subject, score in [a]._________(subjects,scores):
##### /t total == score
##### /t print(subject,score)

##### print("평균 좀수 = {0}.format([b]._______))

In [28]:
subjects = ['python', 'english', 'math', 'science']
scores = [ 88, 77, 66, 95]
total = 0
for subject, score in zip(subjects,scores): 
  total += score # 왼쪽부터 차례대로 더해짐.
  print(subject,score)

print("평균 점수 = {0}".format(total/len(subjects))) 
# total/len(subjects) : 총 합계인 total에 len(subjects)를 이용하여 과목 수만큼 나눠주면 평균

python 88
english 77
math 66
science 95
평균 점수 = 81.5